<div fxLayout="column">

  <div fxLayout="row"
       fxLayoutGap="100px"
       fxLayoutGap.lt-sm="5px">
    <mat-form-field class="search">
      <input matInput placeholder="Search" type="searchText" #searchText (input)='searchByText(searchText.value)'>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select (selectionChange)='searchByGenres($event.value)' [formControl]="genresSelector" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class = "expansion-panel">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let movie of movies$ | async" [@.disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{movie.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-icon class="icon" [inline]="true">favorite_border</mat-icon> Rating: {{movie.rate}}
        <br>
        <mat-icon class="icon" [inline]="true">local_movies</mat-icon> Genre: {{movie.genres}}
        <br>
        <mat-action-row>
          <a mat-button color="primary" [routerLink]="['/movie', movie.id]">Show details</a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
