<header>
  <mat-toolbar color="primary">
    <mat-icon>camera</mat-icon>
    <span>Movies collection</span>
  </mat-toolbar>
</header>

<div fxLayout="row" fxLayoutAlign="center stretch">

  <!--blank left row-->
  <div fxFlex="20%"
       fxFlex.lt-md="10%"
       fxHide.xs="true">
  </div>

  <div fxFlex>
    <section class="main-container">
      <div class="container"
           fxLayout
           fxLayout="column"
           fxLayoutAlign="center stretch"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
          <h1>New movie browser</h1>
          <p>
            Welcome! This is a new movie browser that brings movie browsing to the next level.
          </p>
        <main [@routeAnimation]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </div>
    </section>
  </div>

  <!--blank right row-->
  <div fxFlex="20%"
       fxFlex.lt-md="10%"
       fxHide.xs="true">
  </div>
</div>


