<div fxLayout="column" *ngIf="movie$ | async as movie">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">{{ movie.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="50px">
        <div fxFlex="250px" fxFlex.lt-md="150px" fxFlex.lt-sm="50px">
          <img mat-card-image src="../../assets/images/{{ movie.img }}">
        </div>
        <div fxFlex>
          <p>
            <b class="uppercase primary">rating</b>
            <br>
            {{ movie.rate }}
          </p>
          <p>
            <b class="uppercase primary">length</b>
            <br>
            {{ movie.length }}
          </p>
          <p>
            <b class="uppercase primary">genres</b>
            <br>
            {{ movie.genres }}
          </p>
          <p>
            <b class="uppercase primary">description</b>
            <br>
            {{ movie.description }}
          </p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="card-button" mat-button color="primary" [routerLink]="['/movies']">Back to movies list</button>
    </mat-card-actions>
  </mat-card>
</div>
