@import "../../../variables";

.card-header {
  background: #4d4b5e;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title {
  color: white;
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.primary {
  color: $primary;
}
